
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
  
        height: 100vh;
        cursor: none;
      background-color: #aec9f5;
  }

  .cursor{
    z-index: 999;
    position: fixed;
    background: #2696E8;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 0 0 20px #2696E8,
                0 0 60px #2696E8,
                0 0 100px #2696E8;
    animation: colors 5s infinite;
    transform: translate(-50%, -50%);
    display: none;
  }
  
  @keyframes colors{
    0%{
      filter: hue-rotate(0deg);
    }
    100%{
      filter: hue-rotate(360deg);
    }
  }
  
  .cursor:before{
    content: '';
    position: absolute;
    background: #2696E8;
    width: 50px;
    height: 50px;
    opacity: 0.2;
    transform: translate(-30%, -30%);
    border-radius: 50%;
  }
        
.section
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
    overflow:hidden;

}
h2.text{
    position: absolute;
    color:white;
    font-size: 2.5em;
    user-select: none;
    pointer-events: none;
    animation: animate 5.5s linear infinite;
}
@keyframes animate
{
    0%
    {
        transform: rotate(360deg);
    }
    100%
    {
        transform: rotate(0deg);
    }
}
 h2.text span{
     display: inline-block;
     top:-200px;
     text-transform: uppercase ;
     position: absolute;
     transform-origin: 0 200px;
 }

  .header
  {
      position: relative;
      width: 100%;
      height: 100vh;
      overflow: hidden;
      background:#aec9f5;
  }
  .header #bg
  {
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url(bac.jpg);
      background-size:cover;
  }

  .main{
    font-family: fantasy;
    font-size: 7em;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
  
  .msg{
    color: transparent;
    -webkit-text-stroke: 0.01em white;
    transition: -webkit-text-stroke 0.5s ease, color 0.5s ease;
  }
  
  .main:hover .msg{
    -webkit-text-stroke: none;
    color: white;
  }
  
  .msg:after{
    content: 'Cabazon Dinosaurs';
    position: absolute;
    top: 0;
    left: 0;
    color: transparent;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  .main:hover .msg:after{
    opacity: 1;
    z-index: 3;
  }
  
  .image{
    width: 200px;
    height: 230px;
    background: url('/assets/wikii.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: -90%;
    left: -30%;
    opacity: 0;
    transition: opacity 0.3s, transform 0.7s cubic-bezier(0.23, 1, 0.32, 1);
    overflow: hidden;
    pointer-events: none;
    z-index: 2;
  }
  
  .main:hover .image {
    opacity: 1;
  }

  
  .section
  {
    height:90vh;
    width: 450px;
    font-size: 21px;
    position: relative;
    line-height: 32px;
    text-align: left;
    font-family: 'Spinnaker', sans-serif;
    margin-left: 350px;
    word-spacing: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  